In [1]:
import pandas as pd
import os

In [2]:
os.chdir("20")
files = os.listdir()
print (files)

['2_class_combination_UI.csv', '4_class_combination_UI_et.csv', '3_class_combination_UI.csv', '3_class_combination_UI_et.csv', '2_class_combination_UI_et.csv', '4_class_combination_UI.csv']

In [3]:
acc_dict = {
    'bi' : {
        'et':{},
        'rf':{},        
    },
    'tri' : {
        'et':{},
        'rf':{},        
    },
    'multi' : {
        'et':{},
        'rf':{},        
    }
}

In [4]:
def populate(filename,key,algo):
        df = pd.read_csv(filename)
        all_subjects = ['[2]','[3]','[4]','[5]','[6]','[7]','[8]','[9]','[10]','[11]','[13]','[14]','[15]','[16]','[17]']
        
        
        for sub in all_subjects:
            all_sub = df[df['subjects_in_test'] == sub]
#             print(all_sub.shape)
#             break
            mean = all_sub['acc'].mean()
            std = all_sub['acc'].std()
        
            if mean >= .99:
                print(sub,mean,key,algo)
            elif mean <= .80:
                print (sub,mean,key,algo)
            
            val = "{} {} {}".format(round(mean,3),u"\u00B1",round(std,3))
            
            acc_dict[key][algo][sub.replace('[','').replace(']','')] = val
            
#             print ("\n")
#             break

In [5]:
for filename in files:
    if '2' in filename:
        if 'et' in filename: 
            populate(filename,'bi','et')
        else:
            populate(filename,'bi','rf')
    if '3' in filename:
        if 'et' in filename: 
            populate(filename,'tri','et')
        else:
            populate(filename,'tri','rf')
    if '4' in filename:
        if 'et' in filename: 
            populate(filename,'multi','et')
        else:
            populate(filename,'multi','rf')

[11] 0.6978260869565218 bi rf
[14] 0.7705128205128204 bi rf
[15] 0.99 bi rf
[17] 0.5861111111111111 bi rf
[4] 0.9935897435897436 multi et
[9] 0.9928571428571427 multi et
[17] 0.736111111111111 multi et
[9] 1.0 tri rf
[15] 0.9962500000000001 tri rf
[17] 0.5972222222222222 tri rf
[9] 0.9928571428571427 tri et
[15] 0.9962500000000001 tri et
[17] 0.5819444444444446 tri et
[11] 0.7684782608695653 bi et
[14] 0.7974358974358975 bi et
[15] 0.99375 bi et
[17] 0.5694444444444444 bi et
[6] 0.9941860465116278 multi rf
[9] 0.9952380952380953 multi rf
[15] 0.99 multi rf
[17] 0.5972222222222221 multi rf

In [6]:
acc_dict

{'bi': {'et': {'2': '0.957 ± 0.047',
   '3': '0.825 ± 0.148',
   '4': '0.979 ± 0.023',
   '5': '0.967 ± 0.053',
   '6': '0.974 ± 0.024',
   '7': '0.836 ± 0.092',
   '8': '0.935 ± 0.051',
   '9': '0.965 ± 0.016',
   '10': '0.936 ± 0.05',
   '11': '0.768 ± 0.238',
   '13': '0.9 ± 0.056',
   '14': '0.797 ± 0.118',
   '15': '0.994 ± 0.014',
   '16': '0.943 ± 0.054',
   '17': '0.569 ± 0.406'},
  'rf': {'2': '0.95 ± 0.078',
   '3': '0.844 ± 0.157',
   '4': '0.968 ± 0.078',
   '5': '0.979 ± 0.045',
   '6': '0.981 ± 0.023',
   '7': '0.879 ± 0.1',
   '8': '0.935 ± 0.063',
   '9': '0.979 ± 0.032',
   '10': '0.923 ± 0.089',
   '11': '0.698 ± 0.199',
   '13': '0.909 ± 0.061',
   '14': '0.771 ± 0.12',
   '15': '0.99 ± 0.017',
   '16': '0.948 ± 0.042',
   '17': '0.586 ± 0.397'}},
 'tri': {'et': {'2': '0.918 ± 0.059',
   '3': '0.872 ± 0.146',
   '4': '0.99 ± 0.013',
   '5': '0.966 ± 0.042',
   '6': '0.984 ± 0.017',
   '7': '0.943 ± 0.018',
   '8': '0.964 ± 0.041',
   '9': '0.993 ± 0.011',
   '10': '0.989 ± 0.022',
   '11': '0.814 ± 0.198',
   '13': '0.948 ± 0.055',
   '14': '0.932 ± 0.099',
   '15': '0.996 ± 0.009',
   '16': '0.978 ± 0.039',
   '17': '0.582 ± 0.288'},
  'rf': {'2': '0.932 ± 0.058',
   '3': '0.857 ± 0.165',
   '4': '0.99 ± 0.013',
   '5': '0.984 ± 0.026',
   '6': '0.99 ± 0.016',
   '7': '0.957 ± 0.02',
   '8': '0.962 ± 0.05',
   '9': '1.0 ± 0.0',
   '10': '0.962 ± 0.071',
   '11': '0.851 ± 0.19',
   '13': '0.962 ± 0.05',
   '14': '0.885 ± 0.109',
   '15': '0.996 ± 0.009',
   '16': '0.961 ± 0.046',
   '17': '0.597 ± 0.313'}},
 'multi': {'et': {'2': '0.928 ± 0.072',
   '3': '0.812 ± 0.142',
   '4': '0.994 ± 0.014',
   '5': '0.975 ± 0.045',
   '6': '0.988 ± 0.012',
   '7': '0.959 ± 0.039',
   '8': '0.962 ± 0.053',
   '9': '0.993 ± 0.014',
   '10': '0.923 ± 0.061',
   '11': '0.808 ± 0.183',
   '13': '0.959 ± 0.055',
   '14': '0.871 ± 0.111',
   '15': '0.981 ± 0.024',
   '16': '0.928 ± 0.077',
   '17': '0.736 ± 0.304'},
  'rf': {'2': '0.941 ± 0.062',
   '3': '0.858 ± 0.146',
   '4': '0.99 ± 0.019',
   '5': '0.978 ± 0.037',
   '6': '0.994 ± 0.01',
   '7': '0.964 ± 0.022',
   '8': '0.947 ± 0.057',
   '9': '0.995 ± 0.01',
   '10': '0.945 ± 0.061',
   '11': '0.823 ± 0.185',
   '13': '0.973 ± 0.046',
   '14': '0.905 ± 0.089',
   '15': '0.99 ± 0.017',
   '16': '0.962 ± 0.058',
   '17': '0.597 ± 0.312'}}}

In [7]:
bi = pd.DataFrame(acc_dict['bi'])
tri = pd.DataFrame(acc_dict['tri'])
multi = pd.DataFrame(acc_dict['multi'])

In [8]:
frames = [bi.T, tri.T, multi.T]

In [9]:
concated = pd.concat(frames)
concated

,2,3,4,5,6,7,8,9,10,11,13,14,15,16,17
et,0.957 ± 0.047,0.825 ± 0.148,0.979 ± 0.023,0.967 ± 0.053,0.974 ± 0.024,0.836 ± 0.092,0.935 ± 0.051,0.965 ± 0.016,0.936 ± 0.05,0.768 ± 0.238,0.9 ± 0.056,0.797 ± 0.118,0.994 ± 0.014,0.943 ± 0.054,0.569 ± 0.406
rf,0.95 ± 0.078,0.844 ± 0.157,0.968 ± 0.078,0.979 ± 0.045,0.981 ± 0.023,0.879 ± 0.1,0.935 ± 0.063,0.979 ± 0.032,0.923 ± 0.089,0.698 ± 0.199,0.909 ± 0.061,0.771 ± 0.12,0.99 ± 0.017,0.948 ± 0.042,0.586 ± 0.397
et,0.918 ± 0.059,0.872 ± 0.146,0.99 ± 0.013,0.966 ± 0.042,0.984 ± 0.017,0.943 ± 0.018,0.964 ± 0.041,0.993 ± 0.011,0.989 ± 0.022,0.814 ± 0.198,0.948 ± 0.055,0.932 ± 0.099,0.996 ± 0.009,0.978 ± 0.039,0.582 ± 0.288
rf,0.932 ± 0.058,0.857 ± 0.165,0.99 ± 0.013,0.984 ± 0.026,0.99 ± 0.016,0.957 ± 0.02,0.962 ± 0.05,1.0 ± 0.0,0.962 ± 0.071,0.851 ± 0.19,0.962 ± 0.05,0.885 ± 0.109,0.996 ± 0.009,0.961 ± 0.046,0.597 ± 0.313
et,0.928 ± 0.072,0.812 ± 0.142,0.994 ± 0.014,0.975 ± 0.045,0.988 ± 0.012,0.959 ± 0.039,0.962 ± 0.053,0.993 ± 0.014,0.923 ± 0.061,0.808 ± 0.183,0.959 ± 0.055,0.871 ± 0.111,0.981 ± 0.024,0.928 ± 0.077,0.736 ± 0.304
rf,0.941 ± 0.062,0.858 ± 0.146,0.99 ± 0.019,0.978 ± 0.037,0.994 ± 0.01,0.964 ± 0.022,0.947 ± 0.057,0.995 ± 0.01,0.945 ± 0.061,0.823 ± 0.185,0.973 ± 0.046,0.905 ± 0.089,0.99 ± 0.017,0.962 ± 0.058,0.597 ± 0.312

In [10]:
concated['Affective State'] = ['Bi','Bi','Tri','Tri','Multi','Multi']
concated['Classifiers'] = ['ET','RF','ET','RF','ET','RF']

In [ ]:
cols = ['Affective State', 'Classifiers','2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '13', '14', '15', '16', '17']
# cols = cols[-1:] + cols[:-1]
concated = concated[cols]
concated

In [ ]:
concated.to_csv("acc.csv")

In [ ]:
concated.to_latex()